[Unit]
Description=shn-ib-uart-device
After=network.target auditd.service e10-node-wss.service shn-exts-socat-serial.service

[Service]
PIDFile=/run/shn-ib-uart.pid
ExecStart=/usr/lib/shipard-node/src/iotBox/devices/services/ib-uart/shn-ib-uart.sh
Type=forking
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

