[Unit]
Description=shipard incus sync service ver 1.1
After=network.target auditd.service

[Service]
User=shpd
Group=shpd
PIDFile=/run/shn-incus-sync.pid
ExecStart=/usr/lib/shipard-node/tools/shn-incus-sync.sh
Type=forking
Restart=on-failure

[Install]
WantedBy=multi-user.target
