[Unit]
Description=shipard-node mqtt log; ver 0.1
After=network.target auditd.service

[Service]
PIDFile=/var/run/shn-mqtt-log.pid
ExecStart=/usr/lib/shipard-node/mqtt/shn-mqtt-log.sh
Type=forking
Restart=on-failure

[Install]
WantedBy=multi-user.target
